extends baseEmail 


block content 
    p Hi #{firstName},
    p Forgot your password? if yes please submit a PATCH request with new password and conform password to: #{url} 
    p (Website for this action not implemented yet)
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset Password
    p if you didn't forget please ignore this email.
    

    
