extend base

block content
    main.main
    .welcome
        .welcome__title
        h2.heading-secondary.heading-secondary--welcome Very glad to join us!   
        h2.welcome__emoji 😊😃
        .welcome__msg to complete please visit your email
